.contact{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
}

.contact-image,
.contact-content {
    flex: 1;
}

.contact-image{
    object-fit: cover;

}

.contact-image img{
    width: 100%;
    height: 100%;
}

.contact-content {
    margin: 30px;

    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.contact-content > h2 {
    text-transform: capitalize;

    margin-bottom: 4rem;
}

.contact-content__box {
    margin-bottom: 2.4rem;
}

.contact-content__box h5 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.contact-content__box p {
    font-weight: 200;
}

