.contact{
    margin-top: 15px;

    background-color: rgba(255, 255, 0, 0.397);
    display: flex;
    flex-direction: row-reverse;
}

.contact-image,
.contact-content {
    flex: 1;
}

.contact-image{
    object-fit: cover;
    padding: 20px;
    height: 1;
}

.contact-image img{
    width: 100%;
    height: 100%;


}

.contact-content {
    margin: 30px;

    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.contact-content > h1 {
    font-size: 38px;
    
    text-transform: uppercase;

    margin-bottom: 30px;
}

.contact-content__box {
    margin-bottom: 20px;
}

.contact-content__box h3 {
    font-size: 24px;
}

.contact-content__box p {
    font-size: 18px;
}

