.header__nav {
    display: flex;
    height: 45px;
    width: 100%;
    max-width: 1100px;
    position: fixed;

    background-color: #fff;
    z-index: 3;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;    
    flex: 1;
    padding-left: 1rem;
}


.header__logo img{
    height: 35px;
    width: auto;
    
    object-fit: contain;
}

.header__menu {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    transition: 0.4s ease-in-out;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 5px;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    display: block;

    margin: 5px;
    transition: transform 0.3s;
}

.hamburger-menu.active .bar:nth-child(2){
    display: none;
}

.hamburger-menu.active .bar:nth-child(1){
    transform: translateY(4px) rotate(45deg);
}
.hamburger-menu.active .bar:nth-child(3){
    transform: translateY(-4px) rotate(-45deg);
}


.header__menu li {
    font-size: 16px;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.header__menu li a:active {
    border-bottom: 3px solid #ccc;
} 
.header__menu li a:hover {
    border-bottom: 3px solid #ccc;
}

