.hero {
    display: flex;
    height: calc(100vh - 45px);

    overflow: hidden;
}

.hero-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 100px);
    padding: 24px 5px;

    position: relative;
}

.hero-image__overlay {
    width: 120%;
    height: 105%;
    max-width: 560px;
    background-color: var(--primary-color);

    position: absolute;
    inset: 0;
    z-index: -2;

    transform: translate(5%, 2%) rotate(2.5deg);
}

.hero-image img {
    width: 21rem;
    padding: 1rem;

    filter: grayscale(80%);
    transition: transform 0.3s ease-in;
}

.hero-image img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.hero-image1{
    transform: translate(5%, -5%) rotate(-1deg) ;
}

.hero-image2{
    transform: translateX(10%) rotate(-5deg);
}

.hero-image3{
    transform: translate(-3%) rotate(8deg);
}


.hero-content {
    flex: 1.17;
    display: flex;
    
    flex-direction: column;

    padding: 20px;
}

.hero-content__title {
    margin: 20px 0;
}

.hero-content__desc {
    margin: 2rem;
}

.hero-content__buttons {
    gap: 20px;

    margin-top: 27px;
}

.hero-content__buttons button {
    padding: 0.7rem 1.3rem;
    border-radius: 12px;

    color: #fff;

    display: flex;
    align-items: center;
}

.hero-content__buttons button img {
    height: 20px;
    width: 20px;

    object-fit: contain;
    margin-right: 6px;
}

.hero-content__call-us {
    background-color: #34b7f1;
}

.hero-content__whatsapp {
    background-color: #25d366;
}

